<h2>Edit player</h2>

<%= render "form.html", changeset: @changeset,
                        action: lobby_player_path(@conn, :update, @lobby, @player) %>

<%= link "Back", to: lobby_player_path(@conn, :index, @lobby) %>
