.card {
  display: inline-block; vertical-align: bottom;
  width: 150px; height: 200px;
  overflow: auto;

  padding: 10px; margin: 5px;
  
  border: solid 1px #000;
  border-radius: 5px;
  
  font-size: 1.3em;
  font-weight: bold;
}

.card-white.chosen {
	background-color: #00ff00;
}

.card-black {
  background-color: #000000;
  color: #ffffff;
}

.card-white {
  background-color: #ffffff;
  color: #000000;
}

.card-pair {
	padding: 5px;
	border: 1px solid #000;
	border-radius: 5px;
}
