<div class="jumbotron">
  <h2> popura :: card server </h2>
  <p class="lead">
    has anybody been so far as decided to?
  </p>
</div>

<div class="row">
  <div class="col-lg-6">
    wat
  </div>

  <div class="col-lg-6">
    no really wat
  </div>
</div>
